<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @page_part.name %>
</p>

<p>
  <strong>Allow creatable:</strong>
  <%= @page_part.allow_creatable %>
</p>

<%= link_to 'Edit', edit_page_part_path(@page_part) %> |
<%= link_to 'Back', page_parts_path %>
