<% @page_part.contents.each do |content|%>
	<h2>Título: <%= content.title %> </h2>	 
	<p> Texto: <%= content.body %></p>
	<% if content.avatar? %>
		<div> Foto: 
			<%= cl_image_tag content.avatar.path, 
				:width => 300, :height => 300, :crop => :thumb 
			%>	
		</div>
	<% end %>
	<div>
		<%= link_to 'Editar Conteúdo', 
			edit_page_page_part_content_path(@page_part.page_id, @page_part, content) 
		%> |
		<% if @page_part.allow_creatable %>
			<%= link_to 'Deletar conteúdo',
				page_page_part_content_path(@page_part.page_id, @page_part, content),
				method: :delete, data: { confirm: 'Você tem certeza?' } 
			%>
		<% end %>
	</div>
<% end %>

<div style="margin-top: 50px;">
	<% #if @page_part.allow_creatable %>
		<%= link_to 'Novo Conteúdo',
			new_page_page_part_content_path(@page_part.page_id, @page_part) 
		%> |
	 <% #end %>
	<%= link_to 'Voltar', page_path(@page) %>
</div>