<h1>Novo Contato</h1>

<p><strong>Nome:</strong> <%= @name %></p>
<p><strong>Email:</strong> <%= @email %></p>
<p><strong>Telefone:</strong> <%= @phone %></p>
<p><strong>Descrição:</strong> <%= @description %></p>
<p><strong>Razão:</strong> <%= @reason %></p>