<div class="sub-header">
  <div class="item"> <%= link_to "SERVIÇOS", "#" %> </div>
  <div class="item"> <%= link_to "QUEM CONFIA NA GENTE", "#" %> </div>
  <div class="item"> <%= link_to "BLOG", "#" %> </div>
</div>

<section class="hero hero--clients">
  <div class="hero__title">NÓS SOMOS A PROJETOS</div>
  <div class="hero__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Accusamus dolore cumque possimus quae blanditiis temporibus necessitatibus
    sint nulla alias enim sunt, sapiente quas voluptates mollitia quisquam animi,
    quo ex eveniet!
  </div>
</section>

<section class="services-diagnostic-form">
  <div class="title">
    <div>NOSSOS SERVIÇOS</div>
    <div class="line"></div>
  </div>
  <div class="services">
    <%= link_to :services_management, class: "service management" do %>
      <div class="name">GESTÃO EMPRESARIAL</div>
      <div class="description">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Architecto velitalias soluta ipsam placeat hic cum
        blanditiis delectus explicabo omnis molestiae, itaque harum magnam
        inventore, sapiente quidem? Deleniti, corrupti, libero.
      </div>
    <% end %>
    <%= link_to :services_engineering, class: "service engineering" do %>
      <div class="name">ENGENHARIA &amp; ARQUITETURA</div>
      <div class="description">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Impedit tenetur esse nostrum odio repudiandae saepe
        quasi modi, sequi fugit obcaecati ducimus nesciunt, quae blanditiis,
        harum aliquid veritatis! Inventore temporibus, assumenda?
      </div>
    <% end %>
    <%= link_to :services_legal, class: "service juridical" do %>
      <div class="name">NÚCLEO JURÍDICO</div>
      <div class="description">EM BREVE
      </div>
    <% end %>
  </div>
  <hr>
  <div class="diagnostic-form">
    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Cumque quaerat eum perspiciatis odio voluptatum optio enim, minus nemo
      assumenda voluptates ullam, saepe architecto ipsa vel, voluptatem ea.
      Excepturi, dignissimos, ratione.
    </div>
    <div class="button-flex">
      <button class="button">QUERO PREENCHER O DIAGNÓSTICO</button>
    </div>
  </div>
</section>

<section class="quotes quotes--clients">
  <div class="quotes__title quotes__title--clients">QUEM CONFIA NA GENTE</div>
  <hr class="sep sep--clients">

  <div class="quotes__wrapper">
    <div class="quotes__quote">
      <%= image_tag "parceiros.jpg", class: 'quotes__img' %>
      <div class="quotes__description">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Numquam laboriosam pariatur eius molestiae, commodi aliquid itaque
        earum, laudantium tenetur, ex sunt esse voluptatibus blanditiis quod.
        Officia nisi eos amet nam?
      </div>
    </div>

    <div class="quotes__quote">
      <%= image_tag "parceiros.jpg", class: 'quotes__img' %>
      <div class="quotes__description">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Numquam laboriosam pariatur eius molestiae, commodi aliquid itaque
        earum, laudantium tenetur, ex sunt esse voluptatibus blanditiis quod.
        Officia nisi eos amet nam?
      </div>
    </div>

    <div class="quotes__quote">
      <%= image_tag "parceiros.jpg", class: 'quotes__img' %>
      <div class="quotes__description">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Numquam laboriosam pariatur eius molestiae, commodi aliquid itaque
        earum, laudantium tenetur, ex sunt esse voluptatibus blanditiis quod.
        Officia nisi eos amet nam?
      </div>
    </div>

    <div class="quotes__quote">
      <%= image_tag "parceiros.jpg", class: 'quotes__img' %>
      <div class="quotes__description">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Numquam laboriosam pariatur eius molestiae, commodi aliquid itaque
        earum, laudantium tenetur, ex sunt esse voluptatibus blanditiis quod.
        Officia nisi eos amet nam?
      </div>
    </div>
  </div>
</section>

<section class="clients">
  <div class="row">
    <%= image_tag "client.png", class: "client" %>
    <%= image_tag "client.png", class: "client" %>
    <%= image_tag "client.png", class: "client" %>
    <%= image_tag "client.png", class: "client" %>
    <%= image_tag "client.png", class: "client" %>
  </div>

  <div class="row">
    <%= image_tag "client.png", class: "client" %>
    <%= image_tag "client.png", class: "client" %>
    <%= image_tag "client.png", class: "client" %>
    <%= image_tag "client.png", class: "client" %>
    <%= image_tag "client.png", class: "client" %>
  </div>
</section>
