<div class="sub-header">
  <div class="item"> <%= link_to "SERVIÇOS", "#" %> </div>
  <div class="item"> <%= link_to "QUEM CONFIA NA GENTE", "#" %> </div>
  <div class="item"> <%= link_to "BLOG", "#" %> </div>
</div>

<section class="members-photo">
  <div class="title">NÓS SOMOS A PROJETOS</div>
  <div class="body-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Accusamus dolore cumque possimus quae blanditiis temporibus necessitatibus
    sint nulla alias enim sunt, sapiente quas voluptates mollitia quisquam animi,
    quo ex eveniet!
  </div>
</section>

<section class="services-diagnostic-form">
  <div class="title">
    <div>NOSSOS SERVIÇOS</div>
    <div class="line"></div>
  </div>
  <div class="services">
    <div class="service management">
      <div class="management-title">GESTÃO EMPRESARIAL</div>
    </div>
    <div class="service engineering">
      <div>ENGENHARIA & ARQUITETURA</div>
    </div>
    <div class="service juridical">
      <div class="text">NÚCLEO JURÍDICO</div>
    </div>
    
  </div>
  <hr>
  <div class="diagnostic-form">
    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Cumque quaerat eum perspiciatis odio voluptatum optio enim, minus nemo
      assumenda voluptates ullam, saepe architecto ipsa vel, voluptatem ea.
      Excepturi, dignissimos, ratione.
    </div>
    <div class="button-flex">
      <button class="button">QUERO PREENCHER O DIAGNÓSTICO</button>
    </div>
  </div>
</section>

<section class="partners-section">
  <div class="title">QUEM CONFIA NA GENTE</div>
  <hr>
  <div class="partners-list">

    <div class="partner">
      <%= image_tag("parceiros", class: 'img') %>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Numquam laboriosam pariatur eius molestiae, commodi aliquid itaque
        earum, laudantium tenetur, ex sunt esse voluptatibus blanditiis quod.
        Officia nisi eos amet nam?
      </div>
    </div>

    <div class="partner">
      <%= image_tag("parceiros", class: 'img') %>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Numquam laboriosam pariatur eius molestiae, commodi aliquid itaque
        earum, laudantium tenetur, ex sunt esse voluptatibus blanditiis quod.
        Officia nisi eos amet nam?
      </div>
    </div>

    <div class="partner">
      <%= image_tag("parceiros", class: 'img') %>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Numquam laboriosam pariatur eius molestiae, commodi aliquid itaque
        earum, laudantium tenetur, ex sunt esse voluptatibus blanditiis quod.
        Officia nisi eos amet nam?
      </div>
    </div>

    <div class="partner">
      <%= image_tag("parceiros", class: 'img') %>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Numquam laboriosam pariatur eius molestiae, commodi aliquid itaque
        earum, laudantium tenetur, ex sunt esse voluptatibus blanditiis quod.
        Officia nisi eos amet nam?
      </div>
    </div>

  </div>
</section>
<section class="clients">
  <div class="row">
    <%= image_tag("client", class: "client")%>
    <%= image_tag("client", class: "client")%>
    <%= image_tag("client", class: "client")%>
    <%= image_tag("client", class: "client")%>
    <%= image_tag("client", class: "client")%>
  </div>

  <div class="row">
    <%= image_tag("client", class: "client")%>
    <%= image_tag("client", class: "client")%>
    <%= image_tag("client", class: "client")%>
    <%= image_tag("client", class: "client")%>
    <%= image_tag("client", class: "client")%>
  </div>
</section>