<div class="wrapper">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:class => 'login'}) do |f| %>
    <p>ENTRAR</p>

    <%= f.email_field :email, autofocus: true, placeholder:'Nome do Usuário' %>
    <i class="fa fa-user"></i>

    <%= f.password_field :password, autocomplete: "off", placeholder:'Senha' %>
    <i class="fa fa-key"></i>

    <% if devise_mapping.rememberable? -%>

        <%= f.label :remember_me, 'Lembrar-me' %>
        <%= f.check_box :remember_me %>

    <% end -%>

    <%= button_tag do %>
      <i class="spinner"></i>
      <span class="state" >Entrar</span>
    <% end %>

  <% end %>
  <div style="margin: 10px 0">
  <%= render "devise/shared/links" %>
  </div>
</div>

