<section class="accordion accordion--<%= component %>" id="areas de atuacao">
  <div class="container section">
    <h2> <%= title %> </h2>
    <div class="separator"></div>
    <% if user_signed_in? %>
      <%= link_to 'Editar Seção', page_page_part_path(section.page_id, section) %>
    <% end %>
    <div class="atuacao section__wrapper">
      <% section.contents.each do |content| %>
        <div
          class="accordion__card accordion__card--<%= component %>"
          style="background-image: 
          url( http://res.cloudinary.com/pcicloud/image/upload/
          <%= content.avatar.path if content.avatar? %> )">

          <h3 class="accordion__title"><%= content.title %></h3>
          <p class="accordion__description">
            <%= content.body %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</section>
