<section class="accordion accordion--<%= component %>" id="areas_de_atuacao">
  <div class="container section">
    <h2 class="title title--<%= component %>"> <%= title %> </h2>
    <div class="separator separator--<%= component %>"></div>
    <% if user_signed_in? %>
      <%= link_to 'Editar Seção', page_page_part_path(section.page_id, section) %>
    <% end %>
    <div class="atuacao section__wrapper">
      <% section.contents.each do |content| %>
        <div
          class="accordion__card accordion__card--<%= component %>"
          style="background-image:
          url( <%= content.avatar.fullpath if content.avatar? %> )">

          <h3 class="accordion__title"><%= content.title %></h3>
          <p class="accordion__description">
            <%= content.body %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</section>
