<footer class="footer">
	<div class="social-medias">
		<a href="https://www.instagram.com/projetosintegrada/ ">
			<div class="circle">
				<%= fa_icon "instagram", class: "fa-4x", style:" padding-top: 8px;" %>
			</div>
		</a>
		<a href="https://www.facebook.com/projetosintegrada/ ">
			<div class="circle">
				<%= fa_icon "facebook", class: "fa-4x", style:" padding-top: 10px;" %>
			</div>
		</a>
	</div>
	<div class="adress">
		Setor Comercial Sul Q, 1 BL A Union Building SL 901 <br>
		Brasília, DF, 70297-400 <br>
		projetosintegrada.com.br <br>
		(61) 3966-1661
		<hr>
	</div>
	<div class="partners"> 	
		<h2>PARCEIROS</h2>
		<span class="item"> 
			<%= image_tag 'ceub.jpg', width: '50px', height: '50px' %> 
		</span>
		<span class="item">
			<%= image_tag 'ceub.jpg', width: '50px', height: '50px' %>		
		</span>
		<span class="item"> 
			<%= image_tag 'ceub.jpg', width: '50px', height: '50px' %>		
		</span>
	</div>
</footer>