<header class="header">
	<%= link_to :welcome_index, class: "logo" do %>
		<%= image_tag("Logotipo PCI - horizontal.svg", size: "210x100", alt: "PCI") %>
	<% end %>
	<div class="item"><%= link_to "SOBRE A PCI", "#" %></div>
	<div class="item">
		<%= link_to "#" do  %>
			MOVIMENTO <br> EMPRESA JÚNIOR
		<% end %>
	</div>
	<div class="item"> <%= link_to "CONTATO", "#" %></div>
	<div class="buscador item">
		<div class="inner-addon right-addon">
			<span type="button" class="search">
				<%= fa_icon "search"  %>
			</span>
			<input type="text" placeholder="BUSCAR" style="direction: rtl;" />
		</div>
	</div>

  <!-- Menu Hamburguer -->
  <div class="mobile-nav">
    <div class="menu-btn" id="menu-btn">
      <div></div>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="responsive-menu">
      <ul>
        <%= link_to "#" do  %>
          <li>SOBRE A PCI</li>
        <% end %>

        <%= link_to "#" do %>
          <li>MOVIMENTO EMPRESA JÚNIOR</li>
        <% end %>

        <%= link_to "#" do %>
          <li>CONTATO</li>
        <% end %>

        <%= link_to "#" do %>
          <li>BUSCAR <%= fa_icon "search" %> </li>
        <% end %>

        <div class="secundary-items">

          <%= link_to "#" do %>
            <li>SERVIÇOS</li>
          <% end %>

          <%= link_to "#" do %>
            <li>QUEM CONFIA NA GENTE</li>
          <% end %>

          <%= link_to "#" do %>
            <li>BLOG</li>
          <% end %>

        </div><!-- ./secundary-items -->
      </ul>
    </div> <!-- ./responsive-menu -->
  </div> <!-- ./mobile-nav -->
</header>
