<header class="header">
	<div class="logo">
		<%= image_tag("Logotipo PCI - horizontal.svg", size: "210x100", alt: "PCI") %>
	</div>
	<div class="item"><%= link_to "SOBRE A PCI", "#" %></div>
	<div class="item">
		<%= link_to "#" do  %>
		MOVIMENTO <br> EMPRESA JÚNIOR
		<% end %>
	</div>
	<div class="item"> <%= link_to "CONTATO", "#" %></div>
	<div class="buscador item">

		<script>
  (function() {
    var cx = '008742281087618632291:orjgjta9hr0';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>

	</div>

  <!-- Menu Hamburguer -->
  <div class="mobile-nav">
    <div class="menu-btn" id="menu-btn">
      <div></div>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="responsive-menu">
      <ul>
        <%= link_to "#" do  %>
          <li>SOBRE A PCI</li>
        <% end %>

        <%= link_to "#" do %>
          <li>MOVIMENTO EMPRESA JÚNIOR</li>
        <% end %>

        <%= link_to "#" do %>
          <li>CONTATO</li>
        <% end %>

        <%= link_to "#" do %>
          <li>BUSCAR <%= fa_icon "search" %> </li>
        <% end %>

        <div class="secundary-items">

          <%= link_to "#" do %>
            <li>SERVIÇOS</li>
          <% end %>

          <%= link_to "#" do %>
            <li>QUEM CONFIA NA GENTE</li>
          <% end %>

          <%= link_to "#" do %>
            <li>BLOG</li>
          <% end %>

        </div><!-- ./secundary-items -->
      </ul>
    </div> <!-- ./responsive-menu -->
  </div> <!-- ./mobile-nav -->
</header>
