<header class="header">
	<%= link_to :welcome_index, class: "logo" do %>
		<%= image_tag("Logotipo PCI - horizontal.svg", size: "210x100", alt: "PCI") %>
	<% end %>
	<div class="item"><%= link_to "SOBRE A PCI", "#" %></div>
	<div class="item">
		<%= link_to "#" do  %>
			MOVIMENTO <br> EMPRESA JÚNIOR
		<% end %>
	</div>
	<div class="item"> <%= link_to "CONTATO", "#" %></div>
	<div class="buscador item">

	<gcse:searchbox-only></gcse:searchbox-only>

	</div>

  <!-- Menu Hamburguer -->
  <div class="mobile-nav">
    <div class="menu-btn" id="menu-btn">
      <div></div>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="responsive-menu">
      <ul>
        <%= link_to "#" do  %>
          <li>SOBRE A PCI</li>
        <% end %>

        <%= link_to "#" do %>
          <li>MOVIMENTO EMPRESA JÚNIOR</li>
        <% end %>

        <%= link_to "#" do %>
          <li>CONTATO</li>
        <% end %>

        <li class="buscador-mobile" style="padding: 0.5em 1em;">
					<gcse:searchbox-only></gcse:searchbox-only>
				</li>

        <div class="secundary-items">

          <%= link_to "#" do %>
            <li>SERVIÇOS</li>
          <% end %>

          <%= link_to "#" do %>
            <li>QUEM CONFIA NA GENTE</li>
          <% end %>

          <%= link_to "#" do %>
            <li>BLOG</li>
          <% end %>

        </div><!-- ./secundary-items -->
      </ul>
    </div> <!-- ./responsive-menu -->
  </div> <!-- ./mobile-nav -->
</header>

<script>
	(function() {
		var cx = '008742281087618632291:orjgjta9hr0';
		var gcse = document.createElement('script');
		gcse.type = 'text/javascript';
		gcse.async = true;
		gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(gcse, s);
	})();
	window.onload = function(){
		document.getElementById('gsc-i-id1').placeholder = 'Buscar';
		document.getElementById('gsc-i-id2').placeholder = 'Buscar';
		var buttonDesktop = document.getElementsByClassName('gsc-search-button')[1];
		var buttonMobile = document.getElementsByClassName('gsc-search-button')[3];
		buttonDesktop.src = "/assets/search.svg";
		buttonMobile.src = "/assets/search.svg";
	}
</script>
