<header class="header">
	<%= link_to root_path, class: "logo" do %>
		<%= image_tag("Logotipo PCI - horizontal.svg", size: "210x100", alt: "PCI") %>
	<% end %>
	<div class="item"> <%= link_to 'SOBRE A PCI', page_path(redirect_page('Home Page'), :anchor => "sobre_a_pci") %> </div>
	<div class="item">
		<%= link_to page_path(redirect_page('Home Page'), :anchor => "mej") do %>
      MOVIMENTO <br> EMPRESA JÚNIOR
    <% end %>
	</div>
	<div class="item"> <%= link_to 'CONTATO', page_path(redirect_page('Home Page'), :anchor => "contato") %> </div>
	<div class="buscador item">
    <%= form_tag search_path, method: :get do %>
      <div class="inner-addon right-addon">
        <%= image_submit_tag 'search.svg', class: 'button-search search' %>
        <%= text_field_tag :name, @searched_name, style:'direction: rtl',
        																					placeholder: 'BUSCAR',
        																					class: 'seach-input' %>
      </div>
    <% end %>
  </div>

  <!-- Menu Hamburguer -->
  <div class="mobile-nav">
    <div class="menu-btn" id="menu-btn">
      <div></div>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="responsive-menu">
      <ul>
        <li>
          <%= link_to 'SOBRE A PCI', page_path(redirect_page('Home Page'),
                                               :anchor => "sobre_a_pci") %>
        </li>

        <%= link_to page_path(redirect_page('Home Page'), :anchor => "mej") do %>
          <li>MOVIMENTO EMPRESA JÚNIOR</li>
        <% end %>

        <li>
          <%= link_to 'CONTATO', page_path(redirect_page('Home Page'),
                                           :anchor => "contato") %>
        </li>

        <div class="buscador">
          <%= form_tag search_path, method: :get do %>
            <div class="inner-addon right-addon">
              <%= text_field_tag :name, @searched_name, style:'direction: rtl',
                                                        placeholder: 'BUSCAR',
                                                        class: 'seach-input' %>
              <%= image_submit_tag 'search.svg', class: 'button-search search' %>
            </div>
          <% end %>
        </div>

        <div class="secundary-items">

          <% if page_clients? @page or page_engineering? @page or
                page_management? @page or page_legal? @page %>
          	<%= render 'layouts/hamburguer_sub_items',
          							items: clients = {
          								'/pages/2#servicos' => "SERVIÇOS",
                          '/pages/2#partners' => "QUEM CONFIA NA GENTE" } %>
          <% end %>

          <% if page_student? @page %>
          	<%= render 'layouts/hamburguer_sub_items',
          							items: students = {
          								'#areas_de_atuacao' => "ÁREAS DE ATUAÇÃO",
                          '#quem_passou_por_aqui' => "QUEM PASSOU POR AQUI",
                          '#processo_seletivo' => "PROCESSO SELETIVO" } %>
          <% end %>

        </div><!-- ./secundary-items -->
      </ul>
    </div> <!-- ./responsive-menu -->
  </div> <!-- ./mobile-nav -->
</header>
