<%= render 'layouts/sub_header', 
            items: clients = { '#areas de atuacao' => "ÁREAS DE ATUAÇÃO", 
                               '#quem passou por aqui' => "QUEM PASSOU POR AQUI",
                               '#processo seletivo' => "PROCESSO SELETIVO"} %>

<!-- Page Part 01 -->  
<%= render 'layouts/accordion', component: 'students', section: page_part(page, 'Áreas de atuação') %>


<!-- Page Part 02 -->
<%= render 'layouts/carousel', component: 'students', slides: page_part(page, 'Projetos anteriores') %>

<section class="quotes quotes--students">
  <div class="container">
    <div class="quotes__title quotes__title--students">QUEM PASSOU POR AQUI</div>
    <hr class="sep sep--students">
    <div>
      <% if user_signed_in? %>
        <%= link_to 'Editar Seção', page_page_part_path(page, page_part( page, 'Quem passou por aqui')) %>
      <% end %>
    </div>
    <!-- Page Part 03 -->
    <div class="quotes__wrapper">
      <% page_part(page, 'Quem passou por aqui').contents.each do |content| %>
        <div class="quotes__quote">
          <%= cl_image_tag( content.avatar.path, alt: "PCI", class: 'quotes__img') %>
          <div class="quotes__description">
            <%= content.body %>
          </div>
        </div>
      <% end %>

    </div><!-- wrapper -->

    <div class="section__wrapper">
      <!-- Page Part 04 -->
      <% page_part(page, 'Citação').contents.each do |content| %>
        <p class="section__big-quote"> <%= content.body %> </p>
      <% end %>
      <div style="width: 100%; margin: 20px 0; text-align: center;">
      <% if user_signed_in? %>
        <%= link_to 'Editar citações', page_page_part_path(page, page_part( page, 'Citação')) %>
      <% end %>
      </div>
      <a class="section__btn" href="#">Deixe seu depoimento</a>
    </div>
  </div><!-- container -->
</section>

<!-- Page Part 05 -->
<% page_part(page, 'Banner processo seletivo').contents.each do |content| %>
  <section class="hero hero--students" style="background-image: url( http://res.cloudinary.com/pcicloud/image/upload/<%= content.avatar.path %> )">
    <div class="hero__title"><%= content.title %></div>
    <div class="hero__text">
      <%= content.body %>
    </div>
  </section>
<% end %>
<% if user_signed_in? %>
  <%= link_to 'Editar banner', page_page_part_path(page, page_part( page, 'Banner processo seletivo')) %>
<% end %>

<%= render 'layouts/candidates_form', component: 'form-alunos' %>