<!DOCTYPE html>
<html>
  <head>
    <title>Projetos Consultoria Integrada</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,900i">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body class="site">
  	<div class="site-content">
    <%= render 'layouts/header'%>
    	<%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
